<%- include('header'); -%>

    <h1>Filmes</h1>

    <br />
    
    <p><a href="/filmes" class="button">Voltar à lista</a></p>
    
    <br />
    
    <h2>Inserir Filme</h2>
    
    <form method="post" action="/filmes">
        
        <table>
            <tr>
                <th style="vertical-align:top;"><label for="title">Title:</label></th>
                <td><input type="text" name="title" id="title" /></td>
            </tr>
            <tr>
                <th style="vertical-align:top;"><label for="year">Year:</label></th>
                <td><input type="text" name="year" id="year" /></td>
            </tr>
            <tr>
                <th style="vertical-align:top;">Cast:</th>
                <td>
                    <!--<input type="hidden" id="cast" name="cast" />
                    <input type="hidden" id="genres" name="genres" />-->

                    <table id="castTable" class="noBorder">
                    <tr>
                        <td><input type="text" class="cast" name="cast" /></td>
                        <td><button type="button" class="newRow"></button></td>
                    </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th style="vertical-align:top;">Genres:</th>
                <td>
                    <table id="genreTable" class="noBorder">
                    <tr>
                        <td><input type="text" class="genres" name="genres" /></td>
                        <td><button type="button" class="newRow"></button></td>
                    </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom:none;text-align:right;padding-top:25px;"><input type="reset" value="Reset" style="float:left;" /> <input type="submit" value="Registar" /></td>
            </tr>
        </table>
    </form>

<script>
$(document).on('click','#castTable .newRow',function(){
    $('#castTable button').addClass('removeRow');
    $('#castTable button').removeClass('newRow');

    $('#castTable').append('<tr><td><input type="text" class="cast" name="cast" /></td><td><button type="button" class="newRow"></button></td></tr>');
});

$(document).on('click','#genreTable .newRow',function(){
    $('#genreTable button').addClass('removeRow');
    $('#genreTable button').removeClass('newRow');

    $('#genreTable').append('<tr><td><input type="text" class="genres" name="genres" /></td><td><button type="button" class="newRow"></button></td></tr>');
});

/*function newGenre() {

}*/

$(document).on('click','.removeRow',function(){
    $(this).parent().parent().remove();
});

/*Editar o form POST antes de enviar*/
/*Nope
$(document).on('click','form input[type=submit]',function(e){
    var cast = "";
    var genre = "";
    
    $("#castTable input[name=cast]").each(function( index ) {
        cast += ", '" + $(this).val() + "'"
    });
    
    $("#genreTable input[name=genre]").each(function( index ) {
        genre += ", '" + $(this).val() + "'"
    });
    
    //paga a primeira vírgula e espaço
    cast = cast.substring(2);
    genre = genre.substring(2);
    
    //Grava no hidden do cast e apaga os temporários
    $('#cast').val(cast);
    $('#genres').val(genre);
    $('#castTable').remove();
    $('#genreTable').remove();

    
    //e.preventDefault();
});
*/

</script>

<%- include('footer'); -%>
