<%- include('header'); -%>

    <h2>SIMULAÇÃO</h2>
    
    <br />
    
<p><button type="button" class="btn btn-secondary" onclick="moveCar(111)">Mover Carro</button></p>

<p><a href="/form" class="btn btn-info btn-lg">Adicionar Passadeira</a></p>




<script>



function moveCar(latitude,longitude,matricula) {
axios({
  method: 'post',
  url: <%=lhostGateway%>+'/carMove',
  headers: {}, 
  data: {
    latitude: latitude,
    longitude: longitude,
    matricula: matricula
  }
});

 /*axios.post(<%=lhostGateway%>+'/carMove', req.body.)
                .then(response => {
                    //this.result.splice(id, 1)
                    //console.log(this.result);
                    window.location.reload(true);
                });
*/
    /*$.ajax({
        //type: 'DELETE',
        method: 'DELETE',
        url: 'http://localhost:8042/api/passadeiras/'+id,
        success: function(result) {
        alert("apagado");
            // Do something with the result
        }
        error: function (result) {
            console.log('Error:', result);
        }
    });*/
}
</script>
    
<%- include('footer'); -%>
