<footer style="background:#333333;width:100%;color:#ffffff;text-align:center;position:fixed;bottom:0;left:0;">Paulo Jorge PM | 2019 | PRI - MEI | <a href="http://www.paulojorgepm.net" target="_blank">www.paulojorgepm.net</a> | <a href="#top">Go top</a></footer>
  </body>
</html>
