<!DOCTYPE html>
<html>
  <head>
    <title>FIlmes - TPC6</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/ajax.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body id="top">
