<%- include('header'); -%>

    <h2>SIMULAÇÃO</h2>
    
    <br />
    
<p><button type="button" class="btn btn-secondary" onclick="moveCar()">Mover Carro</button></p>




<script>
function moveCar() {
axios({
  method: 'POST',
  url: '<%=lhostGateway%>/api/carMove',
  headers: {}, 
  data: {latitude: 12.760287, longitude: -90.323763, matricula: '03-44-VP'}
})
.then(function (response) {
    alert('Carro moveu-se')
})
.catch(function (error) {
    alert(erro)
});

}
</script>
    
<%- include('footer'); -%>
